#filmography {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

html {
  background: url(https://i.imgur.com/N6uuZI5.png);
}

.main-container {
  background: url(https://i.imgur.com/KiYi66H.png);
  margin-top: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Playfair Display'; 
  max-width: 1200px;
  margin: auto;
  font-weight: bold;
}

.top-section-container {
  background: url(https://i.imgur.com/ZI5EiTS.png);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.filmography-container {
  background: url(https://i.imgur.com/ZI5EiTS.png);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

#main-title {
    text-align: center;
    margin: 25px;
    font-size: 50px;
    font-family: "Playfair Display";

}

#filmography-title{
  text-align: center;
  font-family: "Playfair Display";  
  margin: 25px;
  font-size: 40px;
}

#image { /*Image of Akira Kurosawa*/
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}

#img-caption { /* Description of Akira Kurosawa*/
  font-family: "Cormorant";
  font-size: 22px;
  margin:15px;
  font-weight: 500;
  text-align: justify;
}

#img-div {  /*div that contains the Akira Kurosawa image and the paragraph*/
    position: center;
    margin: 15px;
}

.film-text { /* The films title*/
    text-align: center;
    margin: auto;
}

.film-photo { 
  max-height: auto;
  max-width: 100%;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
  position: relative;
  border-radius: 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}

.film-photo:hover {
  opacity: 0.3;
}

.credit{
  font-weight:bold;
  text-align:center;
  font-family: 'Playfair Display'; 
}

